name: run-auth-tests

on:
  workflow_dispatch:

jobs:
  run-auth-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create creds.json from GitHub Secrets
        run: |
          echo "${{ secrets.CREDS_JSON }}" > creds.json

      - name: Run Authentication Test
        run: python tests.py

      - name: Upload Report
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: report.json
